__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.git/
.gitignore
.vscode/
.idea/
*.log
*.tmp
*.swp
*.bak
.DS_Store
.ipynb_checkpoints/
Dockerfile
docker-compose.yml
.dockerignore
*.~lock.*
Thumbs.db
ehthumbs.db
pip-wheel-metadata/
__pypackages__/
*.egg-info/
*.egg
dist/
build/
