*.txt
*.png
*.aux
*.loa
*.log
*.out
*.pdf
*.pyc
*.toc
*.RData
*.Rproj.user
*.xlsx
*.
**/.idea/*
**/__pycache__
**/.vscode
**/.Rhistory
**/.pytest_cache
*.pkl
*.pickle
*.gz
*.zip
*.parquet
*.tgz
*.tar
*.rar
*.csv
*.bin
*.vec
*.json
*.vw
*.vw.cache
*.vw.writing
*.cache.writing
*.writing
*.cache
*.pytest_cache